* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    border: 1px solid black;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 70px 20px;
    margin: 10px;
    position: relative;
}

.wrap-icon {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: -55px;
}

.wrap-icon > img {
    padding: 20px;
}

.inner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,
h2 {
    text-align: center;
    padding: 20px 0;
}

p {
    color: #a3a0a5;

}

button {
    background: none;
    border: 1px solid black;
    padding: 10px 30px;
}

.wrap-card {
    width: 800px;
    margin: 50px auto;
}

.header {
    width: 100%;
    height: 50px;
    background: silver;
}

.content {
    width: 100%;
    height: 200px;
    background: #1229ff;
    display: flex;
    justify-content: center;
    position: relative;
}

.boxes {
    display: flex;
    position: absolute;
    bottom: -25px;
}

.box {
    width: 60px;
    height: 60px;
    background: violet;
    border-radius: 5px;
}

.box:not(:last-child) {
    margin-right: 10px;
}

.footer {
    width: 100%;
    height: 60px;
    background: silver;
}